/* Header CSS */
header.masthead {
  padding-top: calc(6rem + 72px);
  padding-bottom: 6rem;
}

@media (min-width: 992px) {
  header.masthead {
    padding-top: calc(6rem + 106px);
    padding-bottom: 6rem;
  }
}
