@import "../node_modules/bootstrap/scss/bootstrap";
@import "variables";
@import "navigation";
@import "header";
@import "carousel";
@import "social";
@import "contact";
@import "floating";
@import "bootstrap-overrides";

/* This is no moon! */

.bg-primary {
  background-color: $primary !important;
}

.footer-notes a {
  color: inherit;
}

.btn-outline-light {
  border-color: black;
}

/* Lightspeed is the only true way */
.floating-lightspeeder {
  bottom: 5rem;
  right: 2rem;
  font-size: large;
}

.btn-floating-lightspeeder {
  color: whitesmoke;
  -webkit-text-stroke: .025rem black;
  :hover {
    color: rgb(255, 255, 200);
  }
}

.list-stack {
  list-style: none;
  padding-left: 0;
  font-size: 1.25rem
}

.twitter-feed {
  height: 325px;
  margin-bottom: 1.25rem
}
// .list-stack-item

.card-header-about {
  padding: 0.25rem 1.75rem;
  font-size: 1.25rem;
  font-weight: 400;
}

.about-list-group {
  @include media-breakpoint-up(md) {
    width: 100%
  }
}