.bg-primary {
  background-color: whitesmoke !important;
}

.footer-notes a {
  color: inherit;
}

.list-inline-item a {
  color: inherit
}

.facebook-icon:hover {
  color: #3B5998
}
.twitter-icon:hover {
  color: #1DA1F2;
}
.linkedin-icon:hover {
  color: #0077B5
}
.social-icon-anim {
  transition: transform .25s linear;
}

.social-icon-anim:hover {
  transform: scale(1.25);
}

.btn-outline-light {
  border-color: black;
  color: black;
}
