@import "variables";
@import "navigation";
@import "header";
@import "carousel";
@import "social";
@import "floating";
@import "bootstrap-overrides";

/* This is no moon! */

.bg-primary {
  background-color: $primary !important;
}

.footer-notes a {
  color: inherit;
}

.btn-outline-light {
  border-color: black;
  color: black;
}

/* Lightspeed! */
.jump-top-nav-btn {
  position: inherit;
  bottom: 5rem;
  right: 1rem;
  height: 5rem;
  width: 5rem;
  font-size: large;
}

.list-stack {
  list-style: none;
  padding-left: 0;
  font-size: 1.25rem
}

.list-stack-item {

}